.pharmacies-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.pharmacy {
    width: 48%;
    padding: 1rem 0;
    border-top: 1px $babyBlue solid;
    display: flex;

    @include atSmall {
        width: 100%;
    }

    &__last {
        border-bottom: 1px $babyBlue solid;
    }

    &-icon {
        font-size: 1.5rem;
        color: $babyBlue;
        margin-right: 1.5rem;
    }

    &-title {
        font-size: 1.2 5rem;
        line-height: 1.5rem;
    }
}

.insurances {
    text-align: center;

    &--description {
        margin-top: 1rem;
    }

    &-container {
        margin-top: 1.5rem;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
    }

    &-image {
        margin-bottom: 1.5rem;
        min-width: 18%;

        @include atExtraSmall {
            width: 45%;
        }
    }
}

.affiliates {
    text-align: center;

    &-container {
        margin-top: 2rem;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-wrap: wrap;
    }

    &-image {
        width: 32%;

        @include atSmall {
            width: 48%;
        }
    }
}
