.services-container {
    margin-top: 2rem;
    margin-bottom: 3.5rem;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    &__no-margin {
        margin-bottom: 0;
    }
}

.service-feature {
    @include atMedium {
        flex-direction: column;
    }
    &--content {
        margin-right: 2rem;
        width: 60%;

        @include atMedium {
            width: 100%;
            margin-right: 0;
        }
    }
}

.service-card {
    background-color: $mediumBlue;
    height: 265px;
    width: 23%;
    margin-bottom: 2rem;

    @include atMedium {
        width: 48%;
        margin-bottom: 2rem;
    }

    @include atSmall {
        width: 100%;
        margin-bottom: 2rem;
    }

    &--image {
        height: 75%;
        width: 100%;
        display: block;
        object-fit: cover;
    }

    &--caption-container {
        height: 25%;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #ffffff;
    }

    &--caption {
        font-size: 1.15rem;
        font-weight: 400;
        text-align: center;
    }
}

.service-card__full-width {
    @extend .service-card;
    width: 100%;
}

.medical-lab-services {
    margin: 2rem auto 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;

    &--subheading {
        font-size: 1.25rem;
        margin-bottom: 1rem;
        text-align: center;
    }

    .medical-lab-service {
        width: 32%;
        display: flex;
        border-bottom: 1px $darkGray solid;
        padding: 0.75rem 0;

        @include atMedium {
            width: 48%;
        }

        @include atSmall {
            width: 100%;
        }

        &--icon {
            color: $darkGray;
            margin-right: 2rem;
        }

        &--description {
            font-size: 1.15rem;
        }
    }
}
