.community-outreach {
    max-width: 1366px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    width: 100%;

    @include atMedium {
        flex-direction: column;
    }

    &--text-content {
        padding: 0 4rem;
        width: 70%;

        @include atMedium {
            width: 100%;
            padding: 2rem;
        }
    }

    &--heading {
        font-size: 1.5rem;
        margin-bottom: 1rem;

        @include atSmall {
            font-size: 1.15rem;
        }
    }

    &--title {
        font-size: 3.25rem;

        @include atLarge {
            font-size: 2rem;
        }
    }

    &--description {
        margin: 1.25rem 0;
        font-size: 1.15rem;
        line-height: 1.75rem;
    }

    &--image-container {
        height: 100%;

        @include atMedium {
            width: 100%;
        }
    }

    &--image {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
}

.events {
    &--container {
        margin-top: 2rem;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
    }
}

.event-card {
    width: 48%;
    background-color: #ffffff;
    display: flex;
    margin-bottom: 2rem;

    @include atMedium {
        flex-direction: column;
    }

    @include atSmall {
        width: 100%;
    }

    &--image-container {
        height: 100%;

        @include atMedium {
            width: 100%;
            height: 275px;
        }
    }

    &--image {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    &--text-container {
        padding: 1rem 1rem;
        width: 70%;
        display: flex;
        flex-direction: column;
        justify-content: center;

        @include atMedium {
            width: 100%;
        }
    }

    &--title {
        font-size: 1.25rem;
        margin-bottom: 1rem;
    }

    &--description {
        margin-bottom: 1rem;
        font-size: 0.85rem;
    }

    &--date {
        color: $highlightBlue;
    }
}

.organizations {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #ffffff;

    @include atSmall {
        flex-direction: column;
    }

    &--text-container {
        width: 60%;

        @include atSmall {
            width: 100%;
        }
    }

    &--logo-container {
        width: 35%;
        display: flex;
        flex-direction: column;
        align-items: center;

        @include atMedium {
            width: 25%;
        }

        @include atSmall {
            width: 100%;
            padding: 0 2rem;
            flex-direction: row;
            justify-content: space-evenly;
            margin-top: 2rem;
        }
    }

    &--heading {
        font-size: 3.25rem;

        @include atMedium {
            font-size: 2.5rem;
        }

        @include atSmall {
            font-size: 2rem;
        }
    }

    &--description {
        margin-top: 1rem;
        font-size: 1.15rem;
        line-height: 1.75rem;
    }

    &--logo {
        @include atSmall {
            margin: 0 1rem;
            width: 50%;
        }

        &-rmh {
            width: 35%;
        }
    }
}
