.columns {
    display: flex;
    justify-content: space-between;

    &--3 {
        width: 23%;
    }

    &--4 {
        width: 33.33%;
    }

    &--6 {
        width: 50%;
    }

    &--8 {
        width: 66.66%;
    }

    &--border-right {
        border-right: 2px $darkGray solid;
        padding: 1.5rem 0;
    }

    &--centered {
        align-items: center;
        justify-content: space-evenly;
    }
}
