//Mini Navigation Bar//
.mini-nav {
    background-color: $darkBlue;
    height: 2rem;

    ul {
        height: 100%;
        list-style: none;
        display: flex;
        justify-content: flex-end;
    }

    li {
        padding: 0 1.25rem;
        background-color: $darkGray;
        display: flex;
        align-items: center;
    }

    li:hover {
        background-color: $highlightBlue;
    }

    a {
        color: #ffffff;
        font-size: 0.875rem;
        text-transform: uppercase;
    }
}

// Main Navigation Bar
.main-nav {
    height: 8.75rem;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include atMedium {
        display: none;
    }

    &-logo {
        height: 70%;
    }

    ul {
        list-style: none;
        display: flex;
    }

    li {
        margin: 0 0 0 3rem;
        padding: 0 0 0.875rem 0;
        display: flex;
        align-items: center;
        border-bottom: 2px solid #ffffff;
    }

    li:hover {
        border-bottom: 2px solid $highlightBlue;
    }

    a {
        color: $darkBlue;
        font-size: 1.15rem;
        text-transform: uppercase;
    }
}

.header--menu-icon {
    width: 30px;
    height: 29px;
    position: absolute;
    top: 25px;
    right: 45px;

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 35px;
        height: 3px;
        background-color: red;
        transform-origin: 0 0;
        transition: transform 0.3s ease-out;
    }

    &__middle {
        position: absolute;
        top: 14px;
        left: 0;
        width: 35px;
        height: 3px;
        background-color: red;
        transition: all 0.3s ease-out;
    }

    &::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 35px;
        height: 3px;
        background-color: red;
        transform-origin: 0 100%;
        transition: transform 0.3s ease-out;
    }

    &--close-x {
        &::before {
            transform: rotate(45deg) scaleX(1.25);
        }

        .site-header__menu-icon__middle {
            opacity: 0;
            transform: scaleX(0);
        }

        &::after {
            transform: rotate(-45deg) scaleX(1.25) translateY(1px);
        }
    }
}
