//Mini Navigation Bar//
.mini-nav {
    background-color: $darkBlue;
    height: 2rem;

    @include atMedium {
        display: none;
    }

    ul {
        height: 100%;
        list-style: none;
        display: flex;
        justify-content: flex-end;
    }

    li {
        padding: 0 1.25rem;
        background-color: $darkGray;
        display: flex;
        align-items: center;
    }

    li:hover,
    .active {
        background-color: $highlightBlue;
    }

    a {
        color: #ffffff;
        font-size: 0.875rem;
        text-transform: uppercase;
    }
}

// Main Navigation Bar
.main-nav {
    height: 8.75rem;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include atSmall {
        height: 6rem;
    }

    &-logo {
        height: 70%;
    }

    ul {
        list-style: none;
        display: flex;

        @include atMedium {
            display: none;
        }
    }

    li {
        margin: 0 0 0 3rem;
        padding: 0 0 0.875rem 0;
        display: flex;
        align-items: center;
        border-bottom: 2px solid #ffffff;
    }

    li:hover,
    li.active {
        border-bottom: 2px solid $highlightBlue;
    }

    a {
        color: $darkBlue;
        font-size: 1.1rem;
        text-transform: uppercase;
    }
}

.header--menu-icon {
    width: 35px;
    height: 27px;
    position: relative;
    justify-content: space-between;
    align-items: flex-end;
    flex-direction: column;
    z-index: 20;
    display: none;

    @include atMedium {
        display: flex;
    }

    &:hover .header--menu-icon__middle,
    &:hover .header--menu-icon__bottom {
        width: 35px;
    }

    &__top {
        width: 100%;
        height: 3px;
        background-color: $darkBlue;
        transform-origin: 0 0;
        transition: all 0.3s ease-out;
    }

    &__middle {
        width: 75%;
        height: 3px;
        background-color: $darkBlue;
        transition: all 0.3s ease-out;
    }

    &__bottom {
        width: 50%;
        height: 3px;
        background-color: $darkBlue;
        transform-origin: 0 100%;
        transition: all 0.3s ease-out;
    }

    &--close-x {
        .header--menu-icon__top {
            background-color: #ffffff;
            transform: rotate(45deg) scaleX(1);
        }

        .header--menu-icon__middle {
            width: 100%;
            opacity: 0;
            transform: scaleX(0);
        }

        .header--menu-icon__bottom {
            background-color: #ffffff;
            width: 100%;
            transform: rotate(-45deg) scaleX(1);
        }
    }
}

.side-navigation {
    background-color: rgba(39, 76, 119, 0.85);
    height: 100%;
    width: 0;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 10;
    opacity: 0;
    transition: all 0.5s ease-in-out;
    overflow-x: hidden;
    padding-top: 6.5rem;
    display: none;

    @include atMedium {
        display: block;
    }

    &__open {
        width: 50%;
        opacity: 1;
    }

    ul {
        list-style: none;
        width: 100%;
    }

    li {
        padding: 1rem 3rem;
        border-bottom: thin solid #ffffff;

        &:first-child {
            border-top: thin solid #ffffff;
        }

        &:hover {
            background-color: rgba(39, 76, 119, 1);
        }
    }

    .active {
        background-color: rgba(39, 76, 119, 1);
    }

    a {
        color: #ffffff;
        font-size: 1.5rem;
    }
}
